<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ensemble Details</title>
    <link th:href="@{/tailwind.css}" href="../static/tailwind.css" rel="stylesheet">
    <script>
        // convert UTC Date Time to browser's time zone, only for <span> elements with .datetimeutc class
        window.onload = () => {
            let dateFormatOptions = { weekday: 'short', timeZoneName: 'short', year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: '2-digit'}
            let dateTimeFormatter = new Intl.DateTimeFormat('default', dateFormatOptions);
            let timezoneString = Intl.DateTimeFormat().resolvedOptions().timeZone;

            document.querySelectorAll("span.datetimeutc").forEach(function (datetimeutc) {
                const datetime = new Date(datetimeutc.innerText)
                datetimeutc.innerText = dateTimeFormatter.format(datetime) // datetime.toLocaleString()
            })
            document.querySelectorAll("span#timezone").forEach(function (timezoneElement) {
                timezoneElement.innerText = timezoneString
            })
            document.querySelectorAll("input#timezone").forEach(function (timezoneElement) {
                timezoneElement.setAttribute("value", timezoneString)
            })
        };
    </script>
</head>
<body class="p-4">
<a href="#" th:href="@{/admin/dashboard}"><h1>Ensembler: The Ensemble Registration System</h1></a>
<h2 class="text-3xl mb-2">Ensemble Detail</h2>


<form th:action="@{/admin/create-timer/__${ensemble.id}__}" action="#" method="post">
    <button type="submit"
            class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
        Create Timer
    </button>
</form>


<p class="p-8" th:text="${ensemble.state}">scheduled</p>

<div class="max-w-2xl" th:if="${ensemble.state == 'scheduled'}">
    <form th:action="@{/admin/ensemble/__${ensemble.id}__/cancel}" action="#" method="post"
          class="flex flex-col justify-center py-2 sm:px-6 lg:px-8">

        <div>
            <h3 class="text-xl sm:text-2xl sm:truncate leading-6 font-medium text-gray-900 mb-2">
                Cancel Ensemble
            </h3>
        </div>
        <div>
            <div class="flex">
                <button type="submit"
                        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-300">
                    Cancel Ensemble
                </button>
            </div>
        </div>
    </form>
</div>

<div class="max-w-2xl">
    <form th:action="@{/admin/ensemble/__${ensemble.id}__}" action="#" method="post" th:object="${scheduleEnsembleForm}"
          class="flex flex-col justify-center py-10 sm:px-6 lg:px-8">

        <div>
            <h3 class="text-xl sm:text-2xl sm:truncate leading-6 font-medium text-gray-900">
                Update Ensemble
            </h3>
        </div>
        <div>
            <div class="grid grid-cols-4 gap-4 items-start pt-6">
                <label th:for="name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2 pl-4">
                    Name
                </label>
                <div class="mt-0 col-span-2">
                    <input type="text" th:field="*{name}" required autofocus autocomplete="off"
                           class="max-w-xs text-sm block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                </div>
            </div>

            <div class="grid grid-cols-4 gap-4 items-start pt-6">
                <label th:for="zoomMeetingLink" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2 pl-4">
                    Zoom link
                </label>
                <div class="mt-0 col-span-2">
                    <input type="url" th:field="*{zoomMeetingLink}" autocomplete="off"
                           class="max-w-xs text-sm block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                </div>
            </div>

            <div class="grid grid-cols-4 gap-4 items-start border-gray-200 pt-5">
                <label th:for="date" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2 pl-4">
                    Date
                </label>
                <div class="mt-0 col-span-2">
                    <input type="date" th:field="*{date}" required
                           class="max-w-xs text-sm block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                </div>
            </div>

            <div class="grid grid-cols-4 gap-4 items-start border-gray-200 pt-5">
                <label th:for="time"
                       class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2 pl-4">
                    Start Time
                </label>
                <div class="mt-0 col-span-2">
                    <input type="time" th:field="*{time}" required
                           class="max-w-xs text-sm block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                    <input id="timezone" type="text" hidden th:field="*{timezone}">
                </div>
                <div class="block text-sm font-medium text-gray-500 sm:pt-2">
                    (<span id="timezone">tbd</span>)
                </div>
            </div>

        </div>

        <div class="pt-10">
            <div class="flex justify-center">
                <button type="reset"
                        class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Reset
                </button>
                <button type="submit"
                        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>

<div th:is="${ensemble.state == 'scheduled'}" class="max-w-2xl">
    <form th:action="@{/admin/ensemble/__${ensemble.id}__/complete}" action="#" method="post" th:object="${completeEnsemble}"
          class="flex flex-col justify-center sm:px-6 lg:px-8">
        <div>
            <h3 class="text-xl sm:text-2xl sm:truncate leading-6 font-medium text-gray-900">
                Ensemble Recording
            </h3>
        </div>

        <div class="grid grid-cols-4 gap-4 items-start border-gray-200 pt-5">
            <label th:for="recordingLink"
                   class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2 pl-4">
                Recording Link
            </label>
            <div class="mt-0 col-span-2">
                <input type="text" th:field="*{recordingLink}" required autocomplete="off"
                       class="max-w-xs text-sm block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
            </div>
        </div>

        <div class="pt-10">
            <div class="flex justify-center">
                <button type="reset"
                        class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Reset
                </button>
                <button type="submit"
                        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Complete
                </button>
            </div>
        </div>
    </form>
</div>

<div class="grid grid-cols-2 divide-x mt-8 max-w-2xl">
    <div class="px-4">
        <h3 class="text-lg sm:text-2xl sm:truncate leading-6 font-medium text-gray-500">
            Accepted
        </h3>
        <div th:if="${ensemble.acceptedMembers.isEmpty()}" class="rounded-md bg-yellow-50 p-4 mt-2">
            <div class="flex">
                <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/exclamation -->
                    <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="ml-3">
                    <h3 class="text-sm font-medium text-yellow-800">
                        No Accepted Members
                    </h3>
                </div>
            </div>
        </div>

        <ul th:unless="${ensemble.acceptedMembers.isEmpty()}"
                role="list" class="divide-y divide-gray-200">
            <li th:each="memberView : ${ensemble.acceptedMembers}"
                    class="py-4 flex">
                <div class="ml-3">
                    <p th:text="${memberView.firstName}"
                       class="text-sm font-medium text-gray-900">
                        Calvin</p>
                    <p th:text="${memberView.githubUsername}"
                        class="text-sm text-gray-500">
                    cawakins</p>
                </div>
            </li>
        </ul>

    </div>
    <div class="px-4">
        <h3 class="text-lg sm:text-2xl sm:truncate leading-6 font-medium text-gray-500">
            Declined
        </h3>

        <div th:if="${ensemble.declinedMembers.isEmpty()}" class="rounded-md bg-yellow-50 p-4 mt-2">
            <div class="flex">
                <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/exclamation -->
                    <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="ml-3">
                    <h3 class="text-sm font-medium text-yellow-800">
                        No Declined Members
                    </h3>
                </div>
            </div>
        </div>
        <ul th:unless="${ensemble.declinedMembers.isEmpty()}"
                role="list" class="divide-y divide-gray-200">
            <li th:each="memberView : ${ensemble.declinedMembers}"
                class="py-4 flex">
                <div class="ml-3">
                    <p th:text="${memberView.firstName}"
                       class="text-sm font-medium text-gray-900">
                        Calvin</p>
                    <p th:text="${memberView.githubUsername}"
                       class="text-sm text-gray-500">
                        cawakins</p>
                </div>
            </li>
        </ul>

    </div>
</div>
<div class="pb-24">
    <br/>
</div>
</body>