<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>MobReg Registration</title>
    <link th:href="@{/tailwind.css}" href="../static/tailwind.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3ae2c56324.js" crossorigin="anonymous"></script>
    <script>
        // convert UTC Date Time to browser's time zone, only for <span> elements with datetimeutc class
        window.onload = () => {
            document.querySelectorAll("span.datetimeutc").forEach(function (datetimeutc) {
                const datetime = new Date(datetimeutc.innerText)
                datetimeutc.innerText = datetime.toLocaleString()
            })
        };
    </script>
</head>
<body class="p-4">
<div class="md:flex md:items-center md:justify-between pb-5 border-b border-gray-300">
    <div class="flex-1 min-w-0">
        <h2 class="flex text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
            <span th:text="${firstName}" class="pr-4">Name</span>
            <span th:text="${githubUsername}"
                  class="inline-flex self-center items-start px-3 py-0.5 rounded-md text-sm font-medium bg-green-100 text-green-800">
                username
            </span>
        </h2>
        <p class="text-sm font-medium text-gray-500 group-hover:text-gray-700">
            <a href="#" th:href="@{/member/profile}">Edit profile</a>
        </p>
        <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
            <div class="mt-2 flex items-center text-sm text-gray-500"
                 sec:authorize="hasRole('ADMIN')">
                <!-- Heroicon name: outline/globe-alt -->
                <svg xmlns="http://www.w3.org/2000/svg"
                     style="height: 1.5rem; width: 1.5rem;"
                     class="h-6 w-6 pr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                </svg>
                <a th:href="@{/admin/dashboard}" href="#">Admin</a>
            </div>
            <div class="mt-2 flex items-center text-sm text-gray-500"
                 sec:authorize="hasRole('MEMBER')">
                <!-- Heroicon name: outline/key -->
                <svg xmlns="http://www.w3.org/2000/svg"
                     style="height: 1.5rem; width: 1.5rem;"
                     class="h-6 w-6 pr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                </svg>
                <a th:href="@{/member/register}" href="#">Member</a>
            </div>
        </div>
    </div>
    <div class="mt-4 flex md:mt-0 md:ml-4">
        <form action="#" th:action="@{/logout}" method="post">
            <button type="submit"
                    class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Logout
            </button>
        </form>
    </div>
</div>

<div class="min-w-0 mt-10 px-4 sm:px-6 lg:px-8">
    <h2 class="text-xl font-medium leading-7 text-gray-900 sm:text-2xl sm:truncate">
        Upcoming Ensembles
    </h2>
</div>

<div th:unless="${ensembles.isEmpty}" class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="align-middle min-w-4/5 px-4 sm:px-6 lg:px-8 font-sans">
            <div class="bg-white shadow-md rounded my-6">
                <table class="min-w-full divide-y">
                    <thead>
                    <tr class="bg-gray-200 text-black uppercase text-med leading-normal">
                        <th class="py-3 px-6 text-left">Description</th>
                        <th class="py-3 px-6 text-center">Date/Time</th>
                        <th class="py-3 px-6 text-center">Participants</th>
                        <th class="py-3 px-6 text-center">Status</th>
                        <th class="py-3 px-6 text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="text-gray-800 text-med font-light">
                    <tr th:each="ensemble: ${ensembles}"
                        class="border-b border-gray-200 even:bg-gray-50 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span th:text="${ensemble.name}" class="font-medium">Ensemble #14</span>
                            </div>
                        </td>
                        <td class="py-3 px-6 text-center">
                            <div class="flex flex-row justify-center font-medium">
                                <span class="datetimeutc" th:text="${ensemble.dateTime}">2021-09-17T16:00:00Z</span>
                            </div>
                        </td>
                        <td class="py-3 px-6 text-center">
                            <div class="flex items-center justify-center">
                                <span class="text-3xl font-bold text-purple-600"
                                      th:text="${ensemble.numberRegistered}">4</span>
                                <span class="text-xl font-bold text-purple-400">/5</span>
                                <!-- use images to represent attendees -->
                                <!-- <img class="w-6 h-6 rounded-full border-gray-200 border transform hover:scale-125" src="https://avatars.githubusercontent.com/u/47930468"/> -->
                                <!-- <img class="w-6 h-6 rounded-full border-gray-200 border -m-1 transform hover:scale-125" src="https://avatars.githubusercontent.com/u/30540091"/> -->
                                <!-- <img class="w-6 h-6 rounded-full border-gray-200 border -m-1 transform hover:scale-150 hover:z-50" src="https://randomuser.me/api/portraits/men/1.jpg"/> -->
                                <!-- <img class="w-6 h-6 rounded-full border-gray-200 border -m-1 transform hover:scale-150 hover:z-50" src="https://randomuser.me/api/portraits/women/2.jpg"/> -->
                                <!-- <img class="w-6 h-6 rounded-full border-gray-200 border -m-1 transform hover:scale-150 hover:z-50" src="https://randomuser.me/api/portraits/men/3.jpg"/> -->
                            </div>
                        </td>
                        <!-- Member Status -->
                        <td class="py-3 px-6 text-center" th:switch="${ensemble.memberStatus}">

                            <form action="#" th:action="@{/member/accept}" th:object="${register}" method="post">
                                <input hidden="hidden" type="number" th:field="*{memberId}">
                                <input hidden="hidden" type="number" th:value="${ensemble.id}" name="ensembleId">

                                <span th:text="${ensemble.memberStatus}" class="text-sm">Status</span>

                                <fieldset th:case="'unknown'"
                                        class="mt-2 flex">
                                    <legend class="sr-only">RSVP</legend>
                                    <div class="space-y-4 sm:flex sm:items-center sm:space-y-0">
                                        <button type="submit" th:formaction="@{/member/decline}"
                                                class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Decline
                                        </button>

                                        <button type="submit"  th:formaction="@{/member/accept}"
                                                class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Accept
                                        </button>
                                    </div>
                                </fieldset>

                                <span th:case="'full'" class="bg-red-100 text-red-800 py-1 px-3 rounded-lg text-xs font-bold">
                                    Unavailable: Full <i class="fal fa-times-hexagon text-red-600"></i></span>

                                <fieldset th:case="'accepted'"
                                          class="mt-2 flex">
                                    <legend class="sr-only">RSVP</legend>
                                    <div class="space-y-4 sm:flex sm:items-center sm:space-y-0">
                                        <button type="submit" th:formaction="@{/member/decline}"
                                                class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Decline
                                        </button>

                                        <div class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100">
                                            Accepted
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset th:case="'declined'"
                                          class="mt-2 flex">
                                    <legend class="sr-only">RSVP</legend>
                                    <div class="space-y-4 sm:flex sm:items-center sm:space-y-0">
                                        <button disabled
                                                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 disabled:cursor-default">
                                            Declined
                                        </button>

                                        <button type="submit" th:formaction="@{/member/accept}"
                                                class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Accept
                                        </button>
                                    </div>
                                </fieldset>

                                <fieldset th:case="'declined_full'"
                                          class="mt-2 flex">
                                    <legend class="sr-only">RSVP</legend>
                                    <div class="space-y-4 sm:flex sm:items-center sm:space-y-0">
                                        <button type="submit"
                                                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Declined
                                        </button>

                                        <button type="submit" disabled
                                                class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white disabled:cursor-not-allowed disabled:text-gray-400">
                                            Accept
                                        </button>
                                    </div>
                                </fieldset>

                                <span th:case="'pending_completed'">Recording Coming Soon...</span>

                                <span th:case="'completed'"
                                      class="bg-blue-100 text-blue-800 py-1 px-3 rounded-lg text-xs font-bold">
                                    Completed <i class="fal fa-badge-check text-blue-600"></i></span>

                            </form>
                        </td>
                        <!-- Actions -->
                        <td class="py-3 px-6 text-center" th:switch="${ensemble.memberStatus}">
                            <div th:case="'accepted'">
                                <a class="font-medium text-blue-700 hover:border-blue-700 border-b-2 border-blue-500"
                                   href="#" th:href="${ensemble.zoomMeetingLink}">
                                    <i class="far fa-video pr-2" aria-hidden="true"></i>
                                    Zoom Link
                                </a>
                                <br/>
                                <a href="#"
                                   th:href="${ensemble.googleCalendarLink}"
                                   target="_blank"
                                   class="font-medium text-blue-700 hover:border-blue-700 border-b-2 border-blue-500">
                                    <i class="fas fa-calendar-plus pr-2" aria-hidden="true"></i>
                                    <span>Add to Google Calendar</span>
                                </a>
                            </div>
                            <div th:case="'completed'">
                                <a class="font-medium text-blue-700 hover:border-blue-700 border-b-2 border-blue-500"
                                   href="#" th:href="${ensemble.recordingLink}">Recording Link</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:if="${ensembles.isEmpty}" class="mt-4 px-4 sm:px-6 lg:px-8">
    <div class="rounded-md bg-yellow-50 p-4">
        <div class="flex">
            <div class="flex-shrink-0">
                <!-- Heroicon name: solid/exclamation -->
                <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <h3 class="text-med font-medium text-yellow-800">
                    No Ensembles Are Available
                </h3>
                <div class="mt-2 text-sm text-yellow-700">
                    <p>
                        Come back later.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>