<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Profile - Ensembler</title>
    <link th:href="@{/tailwind.css}" href="../static/tailwind.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3ae2c56324.js" crossorigin="anonymous"></script>
    <script>
        window.onload = () => {
            const notifyElement = document.getElementById('notify');
            if (notifyElement) {
                setTimeout(function () {
                    const classes = notifyElement.classList;
                    classes.remove('h-12')
                    classes.remove('pt-2')
                    classes.add('h-0')
                }, 1500)
            }
        }
    </script>
</head>
<body class="p-4">

<div id="notify"
     th:if="${updated}"
     class="absolute top-0 h-12 bg-opacity-80 bg-green-700 text-white text-center pt-2 text-2xl w-full">Profile Updated</div>

<div class="md:flex md:items-center md:justify-between pb-5 border-b border-gray-300">
    <div class="flex-1 min-w-0">
        <h2 class="flex text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
            <span th:text="${firstName}" class="pr-4">Firstname</span>
            <span th:text="${githubUsername}"
                  class="inline-flex self-center items-start px-3 py-0.5 rounded-md text-sm font-medium bg-green-100 text-green-800">
                username
            </span>
        </h2>
        <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
            <div class="mt-2 flex items-center text-sm text-gray-500"
                 sec:authorize="hasRole('ADMIN')">
                <!-- Heroicon name: outline/globe-alt -->
                <svg xmlns="http://www.w3.org/2000/svg"
                     style="height: 1.5rem; width: 1.5rem;"
                     class="h-6 w-6 pr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                </svg>
                <a th:href="@{/admin/dashboard}" href="#">Admin</a>
            </div>
            <div class="mt-2 flex items-center text-sm text-gray-500"
                 sec:authorize="hasRole('MEMBER')">
                <!-- Heroicon name: outline/key -->
                <svg xmlns="http://www.w3.org/2000/svg"
                     style="height: 1.5rem; width: 1.5rem;"
                     class="h-6 w-6 pr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                </svg>
                <a th:href="@{/member/register}" href="#">Member</a>
            </div>
        </div>
    </div>
    <div class="mt-4 flex md:mt-0 md:ml-4">
        <form action="#" th:action="@{/logout}" method="post">
            <button type="submit"
                    class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Logout
            </button>
        </form>
    </div>
</div>

<div class="max-w-2xl">
    <form th:action="@{/member/profile}" action="#" method="post" th:object="${profile}"
          class="flex flex-col justify-center py-10 sm:px-6 lg:px-8">

        <div>
            <h3 class="text-xl sm:text-2xl sm:truncate leading-6 font-medium text-gray-900">
                Profile
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Change your profile here
            </p>
        </div>
        <div>
            <div class="grid grid-cols-4 gap-4 items-start pt-6">
                <label th:for="name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2 pl-4">
                    First Name
                </label>
                <div class="mt-0 col-span-2">
                    <input type="text" th:field="*{firstName}" autofocus required
                           class="max-w-xs text-sm block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                </div>
            </div>

            <div class="grid grid-cols-4 gap-4 items-start pt-6">
                <label th:for="githubUsername" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2 pl-4">
                    GitHub Username
                </label>
                <div class="mt-0 col-span-2">
                    <input type="text" th:field="*{githubUsername}" readonly
                           class="max-w-xs text-sm block w-full border-transparent">
                    <!--                           class="max-w-xs text-sm block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">-->
                </div>
            </div>

            <div class="grid grid-cols-4 gap-4 items-start border-gray-200 pt-5">
                <label th:for="email" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2 pl-4">
                    Email
                </label>
                <div class="mt-0 col-span-2">
                    <input type="email" th:field="*{email}"
                           class="max-w-xs text-sm block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                </div>
            </div>

            <div class="grid grid-cols-4 gap-4 items-start border-gray-200 pt-5">
                <label th:for="timeZone" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2 pl-4">
                    Time Zone
                </label>
                <div class="mt-0 col-span-2">
                    <select th:field="*{timeZone}"
                            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                            >
                        <option th:each="zone : ${allTimeZones}"
                                th:value="${zone}"
                                th:text="${zone}">Asia/Tokyo</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="pt-10">
            <div class="flex justify-center">
                <button type="submit"
                        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>

</body>