<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>MobReg Registration</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        /* Zebra striping */
        tr:nth-of-type(odd) {
            background: #eee;
        }

        th {
            background: #333;
            color: white;
            font-weight: bold;
        }

        td, th {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
        }
    </style>
    <script>
        // convert UTC Date Time to browser's time zone
        window.onload = () => {
            document.querySelectorAll("td.datetimeutc").forEach(function (datetimeutc) {
                const datetime = new Date(datetimeutc.innerText)
                datetimeutc.innerText = datetime.toLocaleString()
            })
        };
    </script>
</head>
<body class="p-4">
<div>
    <div sec:authorize="hasRole('ADMIN')">You are <a href="#" th:href="@{/admin/dashboard}">ADMIN</a></div>
    <div sec:authorize="hasRole('MEMBER')">You are MEMBER</div>
    <div sec:authorize="!hasAnyRole('ADMIN','MEMBER')">You are authenticated, but are neither Admin nor Member.</div>

    <form action="#" th:action="@{/logout}" method="post">
        <button type="submit" value="Logout">Logout</button>
    </form>
</div>

<h2>Welcome <span th:text="${name}">Name</span> (username=<span th:text="${username}">username</span>)</h2>
<h1 class="text-3xl mb-6">All Huddles</h1>
<table>
    <thead>
    <tr>
        <th>Register</th>
        <th>Name</th>
        <th>Date/Time</th>
        <th># Registered</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="huddle: ${huddles}">
        <td th:unless="${huddle.memberRegistered}">
            <form th:unless="${huddle.isCompleted}" action="#" th:action="@{/member/register}" th:object="${register}" method="post">
                <input hidden="hidden" type="number" th:field="*{memberId}">
                <input hidden="hidden" type="number" th:value="${huddle.id}" name="huddleId">
                <button type="submit" value="register">Register</button>
            </form>
            <span th:if="${huddle.isCompleted}">Huddle is Completed.</span>
        </td>
        <td th:if="${huddle.memberRegistered}">
            Registered!
                <a th:unless="${huddle.isCompleted}" href="#" th:href="${huddle.zoomMeetingLink}">Zoom Link</a>
                <a th:if="${huddle.isCompleted}" href="#" th:href="${huddle.recordingLink}">Recording Link</a>
        </td>
        <td th:text="${huddle.name}">Name</td>
        <td class="datetimeutc" th:text="${huddle.dateTime}">Date/Time</td>
        <td th:text="${huddle.numberRegistered}">9</td>
    </tr>
    <!-- TODO: display "none found" when there are none  -->
    </tbody>
</table>

</body>