<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Welcome</title>
    <link th:href="@{/tailwind.css}" href="../static/tailwind.css" rel="stylesheet">
</head>
<body class="p-4">
<h1 class="text-3xl mb-6">Welcome <span th:text="${username}">username</span></h1>
<div>

    <div sec:authorize="hasRole('USER') && !hasRole('MEMBER')">You are a USER</div>
    <div sec:authorize="hasRole('ADMIN')">You are an ADMIN, so you can go to the <a class="underline text-blue-800 font-bold" th:href="@{/admin/dashboard}" href="#">dashboard.</a></div>
    <div sec:authorize="hasRole('MEMBER')">You are a MEMBER, so you can click <a class="underline text-blue-800" th:href="@{/member}" href="#">here</a> to register for a mob.</div>
    <div sec:authorize="!hasAnyRole('ADMIN','MEMBER')">
        You are authenticated, but are neither Admin nor Member.
    </div>

    <form class="my-20" action="#" th:action="@{/logout}" method="post">
        <button type="submit" value="Logout"
                class="flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Sign Out
        </button>
    </form>
</div>
<div>
    This is a placeholder page for new users to go through the on-boarding process.
</div>
</body>